<h2 class='title'>Estadísticas</h2><hr/>
<div class="panel panel-default view">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<p>El número de preguntas: <%= numPreguntas %></p>
				<p>El número de comentarios totales: <%= numComentariosTotal %></p>
				<p>El número medio de comentarios por pregunta: <%= mediaComentario %></p>
				<p>El número de preguntas sin comentarios: <%= numPreguntasSinComentario %></p>
				<p>El número de preguntas con comentarios: <%= numPreguntasConComentario %></p>
			</div>
		</div>
	</div>
</div>